<header>
  <div class="header bg-dark py-4 px-3">
    <h1 class="text-center fotn-weight-bold text-light">Taller Mecanico Don Alex</h1>
  </div>
</header>

<section class="py-4">
  <div class="container">
    <h3 class="text-center text-dark pb-2 border-bottom border-dark">Registro de Clientes</h3>
    <div class="col-md-12 row justify-content-center mt-5">
      <form class="w-100">
        <div class="form-group row justify-content-center">
          <input type="text" [(ngModel)]="nombre" name="name" id="name" class="form-control w-50" required placeholder="Nombre del Cliente"/>
        </div>
        <div class="form-group row justify-content-center mt-2">
            <input type="text" [(ngModel)]="dui" name="dui" id="dui" class="form-control w-50" required placeholder="DUI (Sin Guion)"/>
          </div>
          <div class="form-group row justify-content-center mt-2">
            <input type="text" [(ngModel)]="vehiculo" name="car" id="car" class="form-control w-50" required placeholder="Vehiculo"/>
          </div>
          <div class="form-group row justify-content-center mt-2">
            <input type="text" [(ngModel)]="costo" name="costo" id="costo" class="form-control w-50" required placeholder="Costo de Reparacion"/>
          </div>
          <div class="form-group row justify-content-center mt-2">
            <input type="text" [(ngModel)]="detalle" name="descripcion" id="descripcion" class="form-control w-50" required placeholder="Detalle de la reparación"/>
          </div>
          <div class="form-group row justify-content-center my-4">
            <button class="button" (click)="ingresar()">Ingresar</button>
          </div>
      </form>
      <br>
    
      <br>

      <table >
        <thead>
        <tr>
        <th>nombre</th>
        <th>dui</th>
        <th>vehiculo</th>
        <th>costo</th>
        <th>detalle</th>
        <th>id</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of registro">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.dui}}</td>
          <td>{{cliente.vehiculo}}</td>          
          <td>{{cliente.costo}}</td>
          <td>{{cliente.detalle}}</td>
          <td>{{cliente.id}}</td>
          </tr>
          </tbody>
          </table>
  
    </div>
  </div>
</section>

<footer>
  <div class="footer bg-dark p-2">
    <h6 class="text-center text-light">Taller Mecanico Don Alex</h6>
    <h6 class="text-center text-light">© 2020</h6>
  </div>
</footer>
